:root {
  --primary: #00C0A7;
  --white: #FFFFFF;
  --white44: #ffffff80;
  --grey: #C8C8C8;
  --action: #e9e8e8;
  --yellow: #E69A21;
  --red: #E62121;
  --lightBg: #EFEFEF;
  --modalMask: #000000e5;
}