html {
  font-size: 62.5%;
}

* {
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Manrope", sans-serif;
}

body {
  height: 100vh;
}

h1 {
  font-size: 2.4rem;
}

p {
  font-size: 1.5rem;
}

strong {
  font-weight: 700;
}

hr {
  border-color: var(--white44);
  width: 100%;
}